html, body {
  min-height: 100vh;

  .app {
    background-color: rgb(6, 4, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-top: 1px solid rgb(191, 221, 245);
    border-right: 1px solid rgb(191, 221, 245);
    border-bottom: 1px solid rgb(191, 221, 245);
    border-left: 1px solid rgb(125, 141, 153);
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}