.btn {
  background-color: rgb(85, 156, 250);
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: rgb(6, 4, 48);
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(6, 82, 245);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
}
.active {
    background-color: rgb(255, 255, 0);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.5);
    border-color: red;
  }