.main {
  flex-basis: 80%;
  max-width: 980px;
  
  &-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 194, 245);
  }
  @media(min-width: 980px) {  
    &-title {    
      margin-bottom: 40px;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
       
    &-param {
      flex-basis: 100%;
      margin: 20px 10px;
      
      &-title {
        margin-bottom: 15px;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }

      &-list {
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        justify-content: space-around;
        border-radius: 5px;
        border: 1px solid rgb(85, 156, 250);

        &-item {
          .main-content-param-list-title {
            margin: 30px;
            font-size: 16px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
          }
        }
      }
    }
    @media(min-width: 500px) {  
      &-param {    
        flex-basis: 43%;
      }
    }
    @media(min-width: 980px) {  
      &-param {    
        flex-basis: 30%;
      }
    }
  }
}