.main {
  flex-basis: 80%;
  max-width: 980px;
  // padding: 30px;

  &-title {
    margin-bottom: 100px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 194, 245);
  }
  &-content {
    display: flex;
    justify-content: space-between;

    &-param {
      width: 27%;
      &-title {
        margin-bottom: 25px;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }

      &-list {
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        justify-content: space-around;
        border-radius: 5px;
        border: 1px solid rgb(85, 156, 250);



        &-item {
          .main-content-param-list-title {
            margin: 30px;
            // padding: 10px;
            font-size: 16px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
          }
        }
      }
    }
  }
}